AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
RewriteEngine On

### USE THIS IF index.php IS IN PUBLIC FOLDER ###
# if request_filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# if request_filename is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# QSA = Query String Append

#PHP as Apache Module - has $_SERVER['PATH_INFO']
RewriteRule ^(.*)$ index.php/$1?PATH_INFO=/$1 [QSA,L]

#PHP CGI mode - has not $_SERVER['PATH_INFO']
#RewriteRule ^(.*)$ index.php?PATH_INFO=/$1 [QSA,L]

</IfModule>
